@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
/* navigation bar style start here */

#header-section{
    background: white;
    position:sticky;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 5px 0px #0000005e;
    z-index: 20;
}
.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    /* border-bottom: 1px solid #665c5c7d; */
  }
  .left-box {
    display: flex;
    width: 25%;
    align-items: center;
  }
  .left-box img {
    width: 50px;
    border-radius: 50%;
  }
  .center-box {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 120px;
    cursor: pointer;
  }
  .right-box {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
  }
  .profile-img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
  }
  .profile-img img {
    width: 100%;
  }
  .search-bar {
    padding: 0px 8px;
    background: #F2F4F7;
    border-radius: 20px;
    width: 70%;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  .search-bar i {
    margin-left: 10px;
    color: #4d4848;
  }
  .search-bar input {
    border: none;
    background: none;
    margin-left: 10px;
    font-size: 15px;
    padding: 10px 0px;
    outline: none;
    color: #4d4848;
  }
  .center-box i {
    font-size: 23px;
  }
  .right-box i {
    padding: 12px;
    border-radius: 50%;
    background: #ece7e7;
    font-size: 23px;
    cursor: pointer;
  }
  .right-box i:last-child {
    padding: 35px;
  }
  .right-box i:nth-child(4) {
    padding: 13px 16px;
  }
  .right-box i:nth-child(3) {
    padding: 13px 16px;
  }

  /* ------------main box style here--------- */

  
.main-box {
  display: flex;
  background: #5b585814;
}

/* ----------left box style here --------- */
.left-box-wrapper {
  display: flex;
  width: 25%;
  overflow-y: scroll;
  padding: 30px;
  flex-direction: column;
  gap: 25px;
  height: 90vh;
  position: sticky;
  top: 75px;
}
.left-box-wrapper hr {
  color: #00000040;
}
.left-box-wrapper >p {
  text-transform: capitalize;
  font-weight: bold;
  color: #00000063;
  cursor: pointer;
}
.sengle-box-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  cursor: pointer;

}
.left-img-box {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
}
.left-img-box img {
  width: 100%;
}
.sengle-box-wrapper p {
  font-size: 16px;
  text-transform: capitalize;
}
.left-img-box i{
  font-size: 30px;
  width: 100%;
  height: 100%;
  background: #4d48481f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  border-radius: 8px;
}
.square img {
  width: 100%;
  height: 100%;
}

/* ------------center box style here----------- */

.reels-box {
  margin: 20px 0px;
  background: white;
  border-radius: 10px;
}
.center-box-wrapper {
  width: 50%;
  padding: 20px;
}
.reels-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 1px solid rgb(178, 176, 176);
}
.rls-icon {
  height: 18px;
  overflow: hidden;
  cursor: pointer;
}
.rls-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: center;
}
.reels-icon-box {
  display: flex;
  align-items: center;
  gap: 15px;
}
.reels-img-wrapper {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.reels-sengle-box {
  width: 120px;
  height: 200px;
  background: linear-gradient(to bottom left,#ee3b82,#FA8569 );
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.sengle-img {
  width: 100%;
  height: 100%;
}
.sengle-img img {
  width: 100%;
  height: 100%;
}
.reels-sengle-box > p {
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
}
/* --------------center input box style here------------ */


.input-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #e1dada;
}
.input-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.input-profile img {
  width: 100%;
}
.search-bar-wrapper {
  background: white;
  border-radius: 10px;
  overflow: hidden;
}
.input-box input {
  padding: 10px 20px;
  width: 90%;
  background: #5b585814;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-left: 10px;
}
.search-box-icon {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}
.search-box-icon p {
  color: #706d6d;
  text-transform: capitalize;
  cursor: pointer;
}
.color1 i {
  color: #d62222;
}
.color2 i {
  color: #0b870b;
}
.color3 i {
  color: #949412;
}

/* -------------post box style here------------- */

.post-box-wrapper {
  padding: 20px 0px;
  overflow: hidden;
  background: white;
  margin: 10px 0px;
  border-radius: 10px;
}
.post-box-top {
  width: 100%;
  display: flex;
  padding: 0px 20px 5px 20px;
  justify-content: space-between;
  align-items: center;
}
.post-box-top i {
  font-size: 25px;
  margin-right: 13px;
  cursor: pointer;
}
.post-profile-img {
  width: 50px;
  overflow: hidden;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.post-profile-img img {
  width: 100%;
}
.post-box-profile {
  display: flex;
  gap: 12px;
}
.post-profile-name h3 {
  text-transform: capitalize;
  cursor: pointer;
}
.post-profile-name p {
  color: #928e8e;
  cursor: pointer;
}
.post-profile-name p i {
  font-size: 12px;
}
.post-main-img {
  padding: 0px 20px;
  width: 100%;
  overflow: hidden;
}
.post-main-img img {
  width: 100%;
  border-radius: 10px;
}

.visible-lcs-box {
  display: flex;
  justify-content: space-between;
  width: 97%;
  align-items: center;
  margin: auto;
  border-bottom: 1px solid #d6d2d2;
  padding: 20px;
}
.visible-lcs-box p{
  text-transform: capitalize;
  cursor: pointer;
}
.like-comment-share-box {
  width: 97%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid #d6d2d2;
  margin: auto;
}
.like-comment-share-box p {
  font-size: 20px;
  text-transform: capitalize;
  cursor: pointer;
}
.visible-lcs-box p i:first-child {
  color: #5189F4;
}
.visible-lcs-box p i:nth-child(2){
  color: #d3d317;
}
.visible-lcs-box p i:last-child{
  color: #d40f0f;
}
.like-comment-share-box p i {
  color: #888a8a;
}
.like-color i{
  color: #3a79f0 !important;
}
.post-search {
  border: none;
  padding: 10px 20px 0px 20px;
}

/* ---------------right box style here---------------- */


.right-box-wrapper {
  padding: 32px 20px 20px 20px;
  position: sticky;
  top: 75px;
  overflow-y: scroll;
  height: 90vh;
}
.right-box-wrapper::-webkit-scrollbar{
  display: none !important;
}
.add-box h3 {
  color: #807777;
  font-weight: 500;
  padding-bottom: 10px;
}
.main-add-box {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
  padding-bottom: 20px;
}
.main-add-box img {
  width: 190px;
  border-radius: 5px;
  cursor: pointer;
}
.add-text h4 {
  text-transform: capitalize;
  cursor: pointer;
}
.apple {
  border-bottom: 1px solid #8a82826e;
}

.friend-request {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.friend-request span {
  font-weight: 500;
  color: #00000091;
}
.friend-request a {
  text-decoration: none;
}
.friend-name-box {
  display: flex;
  gap: 10px;
}
.friend-name-box img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.mutual-friend img {
  height: 20px;
  width: 20px;
}
.mutual-friend img:last-child {
  margin-left: -5px;
}
.mutual-friend {
  display: flex;
  align-items: center;
}
.mutual-friend p {
  margin-left: 5px;
  color: #00000096;
  font-size: 13px;
}
.add-remove-btn {
  padding: 7px 15px;
  margin-top: 20px;
  border: none;
  background: dodgerblue;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
.friend-repuest-box {
  padding-bottom: 15px;
  border-bottom: 1px solid #00000042;
  cursor: pointer;
}
.arb{
  background: #00000042;
  color: black;
}

.birthday-icon img {
  width: 60px;
}
.birthday-icon {
  display: flex;
  align-items: center;
  margin: 14px 0px;
}
.birthday-date-box p {
  padding: 10px 0px 0px 10px;
  color: #726c6c;
  font-weight: 500;
  cursor: pointer;
}
.birthday-date-box {
  border-bottom: 1px solid #989090d6;
}
.birthday-icon p {
  color: black;

}

.birthday-icon p span {
  font-weight: 300;
}

.contact-icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.contact-icon {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: #0000009e;
}
.contact-icon i{
  cursor: pointer;
}
.contact-person {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.contact-person img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.contact-icon-wrapper p {
  color: #000000a6;
  font-weight: 500;
}

.contact-person::after {
  content: '';
  width: 10px;
  height: 10px;
  background: #049335;
  position: absolute;
  display: block;
  border-radius: 50%;
  left: 46px;
  bottom: 10px;
  outline: 3px solid white;
}
.contact-person {
  position: relative;
  cursor: pointer;
}
